/* ********* CSS - job daigram flow ********* */

.nd-diagram-flow {
  display: block;
}

.nd-scale-container {
  width: 100%;
  overflow: scroll;
}

.nd-diagram-container.more-than-three {
  display: flex;
}

.nd-diagram-container.max-three {
  display: inline-block;
}

#scaleDiagram.nd-diagram-wrapper .info-block {
  transform: scale(1.2);
}

/* *********** */

.nd-diagram-flow {
  float: left;
  width: 100%;
  min-height: 355px;
  background: #ffffff;
  overflow: scroll;
}

.nd-diagram-flow.max-three-nodes-cover {
  overflow: hidden;
}

.nd-diagram-container {
  padding: 50px;
  display: flex;
  width: 100%;
  text-align: center;
}

.nd-diagram-container::-webkit-scrollbar {
  width: 10px;
}

.nd-diagram-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.nd-diagram-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.nd-diagram-container .info {
  color: #727d8c;
  margin-top: 50px;
}

.info-block {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 231, 234);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  min-width: 160px;
  display: inline-block;
  vertical-align: top;
  margin-right: 80px;
  position: relative;
  cursor: move;
}

.info-block:hover, .info-block:focus {
  cursor: pointer
}

.icon-block {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f5f8fa;
  text-align: center;
  line-height: 80px;
  margin: auto;
  margin-top: 20px;
}

.icon-block svg {
  vertical-align: middle;
}

.info-block.block-blue,
.info-block.block-yellow,
.info-block.block-green {
  border-top: 5px solid rgb(228, 228, 228);
}

.info-block.block-blue .icon-block {
  background-color: rgba(0, 113, 234, .1);
}

.info-block.block-yellow .icon-block {
  background-color: rgba(253, 189, 97, .1);
}

.info-block.block-green .icon-block {
  background-color: rgba(41, 190, 185, .1);
}

.info-block.block-blue .icon-block svg {
  fill: rgb(0, 113, 234);
}

.info-block.block-yellow .icon-block svg {
  fill: rgb(253, 189, 97);
}

.info-block.block-green .icon-block svg {
  fill: rgb(41, 190, 185);
}

.info-block .header-block {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0 15px;
}

.info-block .header-block .title {
  font-weight: 600;
}

.info-block .header-block .secondary-title {
  display: block;
  font-size: 86%;
  color: #a8aaab;
  margin-top: -1px;
}

.info-block .header-block .secondary-title svg {
  fill: #f95b5b;
  top: 3px;
}

.info-block.block-blue:hover,
.info-block.block-blue.active {
  box-shadow: 0px 5px 26.32px 1.68px rgba(0, 113, 234, 0.2);
  border-top: 5px solid rgb(0, 113, 234);
  border-left: 1px solid rgb(0, 113, 234);
  border-right: 1px solid rgb(0, 113, 234);
  border-bottom: 1px solid rgb(0, 113, 234);
}

.info-block.block-yellow:hover,
.info-block.block-yellow.active {
  box-shadow: 0px 5px 26.32px 1.68px rgba(253, 189, 97, 0.2);
  border-top: 5px solid rgb(253, 189, 97);
  border-left: 1px solid rgb(253, 189, 97);
  border-right: 1px solid rgb(253, 189, 97);
  border-bottom: 1px solid rgb(253, 189, 97);
}

.info-block.block-green:hover,
.info-block.block-green.active {
  box-shadow: 0px 5px 26.32px 1.68px rgba(41, 190, 185, 0.2);
  border-top: 5px solid rgb(41, 190, 185);
  border-left: 1px solid rgb(41, 190, 185);
  border-right: 1px solid rgb(41, 190, 185);
  border-bottom: 1px solid rgb(41, 190, 185);
}

.info-block.first-child:before {
  content: '';
}

.info-block:before {
  position: absolute;
  content: url(../img/arrow.svg);
  width: 40px;
  left: -60px;
  top: 55px;
  opacity: .2;
}

.nd-diagram-container.nd-diagram-wrapper .info-block:before {
  width: 30px;
  left: -35px;
}

.info-block .icon-block img {
  border-radius: 50%;
  overflow: hidden;
}

.info-block .footer-block {
  padding: 7px 0 5px;
  background-color: #f0f0f2;
  width: 100%;
  float: left;
}

.info-block .footer-block .action-btn {
  width: 50%;
  float: left;
  cursor: pointer;
  opacity: .6;
}

.info-block .footer-block .action-btn:hover {
  opacity: 1;
}
