.auth-form .nd-input-group input[type='current-password'],
.auth-form .nd-input-group input[type='new-password'] {
  width: 100%;
  border-color: rgb(183, 187, 191);
  height: 45px;
  float: left;
  padding: 0 10px;
  padding-left: 40px;
  font-size: 14px;
}
